.everything {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 15px;
}

h1 {
  font-family: arial;

  text-align: center;

  margin: 10px;
}

.subtitle {
  text-align: center;
  color: grey;
  font-size: 20px;

  margin: 0px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: justify;
  hyphens: auto;

  width: 90%;
  max-width: 400px;

  margin: 10px;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: black;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);

  margin: 5px;

  border-radius: 5px;
  border: solid, black;
  padding: 18px;

  width: 75%;
  max-width: 380px;
  
  text-align: center;

  font-weight: bold;
}
a.beowulf {
  background-image: url("/images/school/worldsfair/BeowulfBanner.png");
}
a.canterbury {
  background-image: url("/images/school/worldsfair/CanterburyBanner.png");
}
a.scrooge {
    background-image: url("/images/school/worldsfair/ScroogeBanner.png");
}